<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-websql"
      version="0.0.10">
    <name>Web SQL plugin</name>

    <description>Web Sql Plugin for Apache Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova, websql, db, database</keywords>
    <repo>https://github.com/msopentech/cordova-plugin-websql/</repo>
    <issue>https://github.com/msopentech/cordova-plugin-websql/issues</issue>

    <platform name="windows">
        <hook type="after_plugin_install" src="scripts/after_plugin_install.js"/>

        <js-module src="www/WebSQL.js" name="WebSQL">
            <clobbers target="window.WebSQL" />
        </js-module>
        <js-module src="www/windows/Database.js" name="Database" />
        <js-module src="www/windows/SqlTransaction.js" name="SqlTransaction" />
        <js-module src="src/windows/WebSqlProxy.js" name="WebSqlProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
